export(bma.grow)
export(bma.nsnps)
export(impute.missing)
export(make.data)
export(prior.betabinomial)
export(prior.binomial)
export(prior.nsnps)
export(show.ld)
export(snp.summary)
export(tag)
exportMethods(models)
exportMethods(show)
exportMethods(stack)
import(Matrix)
import(VGAM)
import(igraph)
import(reshape)
