export(bma.grow)
export(bma.nsnps)
export(impute.missing)
export(make.data)
export(max.models)
export(prior.betabinomial)
export(prior.binomial)
export(prior.nsnps)
export(show.ld)
export(snp.summary)
export(tag)
exportMethods(models)
exportMethods(show)
exportMethods(snps.prune)
exportMethods(stack)
exportMethods(top.models)
import(ggplot2)
import(igraph)
importFrom(Matrix,colSums)
importFrom(Matrix,rowSums)
importFrom(Matrix,summary)
importFrom(Matrix,t)
importFrom(Matrix,which)
importFrom(VGAM,dbetabinom)
importFrom(reshape,melt)
